/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282C34;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p
{
  text-align:justify ;
  padding: 20px;
}
.h-4
{
  text-transform: uppercase;
  
}
.h-4:hover
{
  color: #282C34;
  background-color: aliceblue;
}
ul
{
  list-style: none;
} */
.c_h
{
  margin-top: -400px;
  font-size: 80px;
}
.nav-link:hover{
  color: #48B674;
}
.gl
{
 background-color:  #EDF8F4;
}
.main
{
  height: 765px;
}
.hover-success:hover
{
  background-color: #48B674;
  color: #EDF8F4;
}

.my-icon
{
 margin-left: 30%;
 margin-top: 5%;
 
}
/* var dark:#35155D; */
/* var eemidark:#512B81; */
/* var semilight:#4477CE; */
/* var ilight:#8CABFF; */
